<div>
    <h1>Argumentos de Entrada: {{argumentoEntrada}} </h1>
    <h1>Nombre de plataforma: {{nombrePlataforma}} </h1>
    <h1>Version de node.js: {{versionNode}}</h1>
    <h1>Uso de memoria: {{memoria}}</h1>
    <h1>Path de ejecucion: {{path}}</h1>
    <h1>Process id: {{processID}}</h1>
    <h1>Carpeta corriente: {{carpeta}} </h1>
    <h1>Procesadores activos: {{procesadores}} </h1>
</div>